.input_box
{
	background-color:#e4fced !important;
}
.modal_color_blue
{
	background-color:#a0e8fb;
}
.modal_color_light
{
background-color:#f3e5ee;
	
}
.modal_color_yellow
{
	background-color:#f5f9db;
}
.modal_color_green
{
	background-color:#eafadc;
}
.modal_color_orange
{
	background-color:#f9e4c2;
}
.f_card
{
	background-color:#e2e3e4;
}
.coursecard
{
	background-color:#f3e5ee;
}